body {
    font-family: Arial, sans-serif;
  }
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  .title {
    text-align: center;
    padding: 20px;
    color: black;
    margin-bottom: 20px;
  }
  .title h1 {
    font-size: 80px;
  }
  .card {
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px black;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
  }
  .card h5 {
    color: black;
    font-weight: bold;
    font-size: 50px;
  }  
  .card img {
    max-width: 100%;
    height: auto;
    border: 2px solid black;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  .card p {
    font-size: 35px;
    font-weight: bold;
  }
  .precio {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .precio p {
    font-size: auto;
    text-align: center;
  }
  .card:hover .precio {
    opacity: 1;
  }
  @media only screen and (max-width: 768px) {
    /* Estilos para dispositivos móviles */
    .container {
      padding: 10px;
    }
  }